

<h1>Órdenes</h1>

<div class="row">
  <div class="col-lg-3">
    <%= link_to 'Crear órden', new_order_path, class: "btn btn-primary btn-block" %>    
  </div>
  <div class="col-lg-3">
    <%= link_to 'Cerrar caja', '/close_shift', class: "btn btn-primary btn-block" %>    
  </div>
</div>


<table class="table table-tripped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>NIT</th>
      <th>Sucursal</th>
      <th>Total</th>
      <th>Estado</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
	<% if order.branch.id != nil %>
      <% if order.status == true %>
        <tr class="table-danger">
      <% else %>
        <tr class="table-success">
      <% end %>
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= order.nit %></td>
        <td><%= order.branch.name %></td>
        <td>Bs. <%= order.total_order_amount %></td>
        <% if order.status == false %>
          <td>Pendiente</td>
        <% else %>
          <td>Cerrada</td>
        <% end %>
        
        <td>
          <% if order.status == false %>
            <%= link_to 'Detalles', '/order_details/' + order.id.to_s %>
          <% else %>
            <%= link_to 'Detalles', '/orders/' + order.id.to_s +  '/products' %>
          <% end %>
          
        </td>
        <td>
          <% if order.status == false %>
            <%= link_to 'Editar datos de cliente', edit_order_path(order) %>
          <% else %>
            La órden está cerrada
          <% end %>
          
        </td>
      </tr>
	<% end %>
    <% end %>
  </tbody>
</table>

<br>
